.navbar {
    background-color: #222;
    .container-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 10%;
            margin-left: -40px;
        }
        .list {
            display: flex;
            list-style: none;
            align-items: center;
            .item {
                margin-right: 1em;
                    a {
                        color: #FFF;
                        text-decoration: none;
                    }
                    a:hover {
                        color: #faf72e;
                    }
                }
            }
        }
    }

