* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

.container {
    height: 100%;
    width: 250px;
    position: absolute;
    background-color: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-250px);
    .menu {
        color: #fbfdce;
        font-size: 30px;
        font-weight: bold;
        padding: 30px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        background: linear-gradient(30deg,#0108df,#017bed);
        a {
            text-decoration: none;
        }
    }
    .navigation {
        ul {
            width: 100%;
            list-style: none;
            li {
                display: block;
                width: 100%;
                a {
                    color: #fbfdce;
                    padding: 15px 0;
                    text-decoration: none;
                    display: block;
                    font-size: 20px;
                    letter-spacing: 1px;
                    position: relative;
                    transition: 0.3s;
                    overflow: hidden;
                    text-transform: capitalize;
                    svg {
                       width: 70px;
                       font-size: 25px;
                       text-align: center;
                       padding-left: 30px; 
                    }
                }
            }
            li:hover a {
                background: #030303;
                color: #00eaff;
                letter-spacing: 2px;
            }
        }
    }
}

input {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

span {
    position: absolute;
    right: -41px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #FFF;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;
}

#check:checked ~ .container  {
    transform: translateX(0);
}

#check:checked ~ .container .times {
    display: none;
}

section {
    min-height: 100vh;
    background: url(../../../public/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: brightness(60%);
}

#check:checked ~ section {
    transform: scale(1.2);
    filter: brightness(20%);
}